name: Tests

on:
  push:
    branches: [ main, master, development ]
  pull_request:
    branches: [ main, master, development ]

jobs:
  tests:
    uses: ./.github/workflows/test-component.yml
    with:
      python-versions: '["3.9", "3.10", "3.11", "3.12", "3.13"]'
